<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieReview</title>
    <link rel="stylesheet" href="css/style1.css">
    <link rel="shortcut icon" href="images/icon.jpg" type="image/jpg">
</head>
<body>
    <div class="errorimg">
    <img src="images/404_page_cover.jpg" alt="error">
    </div>
    <div class="btn">
        <a href="/"><button class="bt">Go Back</button></a>
    </div>
</body>
</html>